h1,p {
    text-align: center;
    margin: 10px;
    
}

h1 {
    font-family: "Brush Script MT", 'Lucida Sans';
    font-size: 100px;
    color: rgb(239, 34, 106);

}
h2 {
    font-family: cursive;
    font-size: 40px;
    color: rgb(3, 3, 3);
    text-align: center;
    margin-bottom: 5px ;

}
p {
    font-size: 25px;
    font-family: cursive;
}

#li {
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;

    
}
img {
    height: auto;
    width:300px;
}
* {
    background-color:  hsl(from rgb(229, 154, 170) h s l);
}

ol {
    display: inline-block;
    text-align: left;
}

div.container{
        
    text-align:center;
}

ul.myUL{
    display: inline-block;
    text-align: left;
}

.a{
    font-size: 30px;
    
}


div.forBOXb{
    block-size: auto;
    
    box-sizing: border-box;
    display: inline-block;
    margin: 10px 500px;
    padding-left: 35px;
    padding-right: 35px;
    border: 5px solid rgb(3, 3, 3);
    
}

div.forBOXd{
    block-size: auto;
    
    box-sizing: border-box;
    display: inline-block;
    margin: 10px 565px;
    padding-left: 35px;
    padding-right: 35px;
    border: 5px solid rgb(3, 3, 3);
    
}

div.forBOXp{
    block-size: auto;
    
    box-sizing: border-box;
    display: inline-block;
    margin: 10px 500px;
    padding-left: 35px;
    padding-right: 35px;
    border: 5px solid rgb(3, 3, 3);
    
}
.forBOXp#pp{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:600px ;
    margin-right: 600px;
    
    
}
