h1,p {
    text-align: center;
    margin: 10px;
}

h1 {
    font-family: "Brush Script MT", 'Lucida Sans';
    font-size: 100px;
    color: rgb(34, 34, 240);

}
h2 {
    font-family: cursive;
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 5px ;

}
p {
    font-size: 25px;
    font-family: cursive;
}

#li {
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;

    
}
img {
    height: auto;
    width:300px;
    
}
* {
    background-color:  hsl(from rgb(160, 159, 247) h s l);
}

ol {
    display: inline-block;
    text-align: left;
}

div.container{
        
    text-align: center;
}

ul.myUL{
    display: inline-block;
    text-align: left;
    font-size: 20px;
}

ol.myOL{
    display: inline-block;
    text-align: left;
    font-size: 20px;
}

.a{
    font-size: 30px;
}